<h1>Bonjour! Vueillez confirmer votre compte!</h1>

<p>
    Confirmer votre compte en cliquant sur le lien ci dessous: <br><br>
    <a href="{{ signedUrl }}">Valider son email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée!
</p>
