{% extends 'base_form.html.twig' %}

{% block title %}Reset du password{% endblock %}

{% block body %}

    <h1>Mot de passe oublié</h1>

    <p>
        Entrez votre email pour recevoir une confirmation de reset sur votre compte email.
    </p>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {
            label: 'Votre email:',
            'attr': {'class': 'champs'}
            }) }}
        <div>
        </div>

        <button class="btn btn-primary"> Reset du mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
