@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbuntu', sans-serif;
    text-decoration: none;
}
#a {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-decoration: none;
    color: var(--black);
}
:root{
    --pink:#E56399;
    --brown: #7A6563;
    --green: #b0f2b6;
    --green2: #0d5a13;
    --green3: #19d28f;
    --blue: #009FB7;
    --blue2: #375ad9;
    --white: #f8f8f8;
    --grey: #dadada;
    --black: #222;
    --black2: #272727; 
    --yellow: #d9c436;
    --red: #F95738;
}

::selection{
    color: var(--white);
    background-color: var(--pink);
}
body{
    min-height: 110vh;
    overflow-x: hidden;
    background-color: var(--white)
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--green);
    border-left: 10px solid var(--green);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background-color: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    display: flex;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: var(--black2);
}

.navigation ul li:hover a{
    color: var(--blue);
}


.icon, .title{
    position: relative;
    display: block;
    text-align: center;
    height: 60px;
}

.icon{
    min-width: 60px;
    line-height: 70px;
}

.icon ion-icon{
    font-size: 1.75em; 
}

.title{
    padding: 0 10px;
    line-height: 60px;
    white-space: nowrap;
}

/* main */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: var(--white);
    transition: 0.5s  ;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

.topbar div span a{
    padding: 8px;
    text-decoration: none;
    background-color: var(--green);
    color: var(--black);
    border-radius: 15px;
    transition: 0.5s;
}

.topbar div span a:hover{
    border: 3px solid var(--blue);
    background-color: var(--red);
    color: var(--white);
    font-size: 18px;
    transition: 0.5s;
}
    
.toggle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 60px;
    height: 60px;
    font-size: 2.5em;
    cursor: pointer;
}

.user{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img{
    margin-top: 5px;
    padding: 2px;
    max-height: 80px;
    border-radius: 8px;
}
table{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-collapse: collapse;
}
thead tr{
    font-weight: 700;
    background-color: rgba(0,0,0,0.04);
    border-bottom: 1.5px solid rgba(0,0,0,1);
}

thead tr .up{
    background-color: var(--green3);
    font-size: 14px;
    padding: 0px 7px;
    margin: 0 8px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

thead tr .down{
    background-color: var(--red);
    font-size: 14px;
    padding: 0px 7px;
    margin:0 8px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
tr{
    height: 70px;
    font-size: 18px;
    text-align: center;
}

.pastille{
    padding: 1px 10px;
    margin-inline: 5px;
    border-radius: 50%;
}

.voirPlus{
    color: var(--blue2);
    font-size: 21px;
    margin: 0 5px;
}
.entrée, .boisson, .dessert, .viande, .poisson, .végétarien{
    color: var(--white);

}
.avisCategorie{
    padding: 5px;
    border-radius: 7px;
    color: var(--white);
}
.entrée{
    background-color: var(--green3);
}
.boisson{
    background-color: var(--yellow);
}
.dessert{
    background-color: var(--pink);
}
.viande{
    background-color: var(--red);
}
.poisson{
    background-color: var(--blue);
}
.végétarien{
    background-color: var(--green2);
}

.ROLE_ADMIN::before, .ROLE_PERSONNEL::before, .ROLE_USER::before{
    padding: 10px;
    border-radius: 8px;
    color: var(--white);
}

.ROLE_PERSONNEL::before{
    content: "personnel";
    background-color: var(--blue);

}
.ROLE_ADMIN::before{
    content: 'admin';
    background-color: var(--green2);
}
.ROLE_USER::before{
    content: 'élève';
    background-color: var(--yellow);

}
/* les messages flash */
.messageFlash{
    position: fixed;
    left: 70;
    top: 20;
    bottom: 50;
    right: 0;
    padding: 20px 40px;
    margin-right: 40px;
    text-align: center;
    background-color: var(--green);
    color: var(--black);
    font-size: 1.5rem;
    border-radius: 8px;
}

.messageFlash.hidden{
    opacity: 0;
    z-index: -10;
    transition: 0.3s;
}

.white{
    color: var(--white);
}
@media (max-width: 1000px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }

    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders{
        overflow: hidden;
    }
}


@media (max-width: 480px){
    .main{
        overflow: hidden;
    }
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .details{
        padding: 3px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 100;
    }
    .navigation.active{
        width: 100%;
        left: 0px;
        overflow-x: hidden; 
    }
    .toggle{
        z-index: 1000;
    }
    .main .active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
    .imgBox{
        width: 60px;
        height: 60px;
    }
    .recetteJour{
        margin-right: 3px;
    }
}

