h1{
    color: var(--blue);
    font-size: 3rem;
    text-align: center;
    margin: 10px;
    
}

h2{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
h2 .usebtn{
    text-decoration: none;
    padding: 10px;
    margin: 30px;
    color: var(--green);
    background-color: var(--green2);
    border-radius: 15px;
    transition: 0.2s;
}

.usebtn:hover{
    transform: scale(.9);
    color: var(--blue);
    background-color: var(--yellow);
    transition: 0.2s;
}


table{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 10px;
    border-collapse: collapse;

}


table tr{
    height: 70px;
    text-align: center;
    border-bottom: 1px solid  var(--blue);
}

tbody tr:hover{
    background-color: var(--green);
}

table tr:last-child{
    border-bottom: none;
}

.btn{
    padding: 7px 10px;
    margin: 10px;
    color: var(--black);
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}

.b1{
    background-color: var(--yellow);
}

.b2{
    background-color: var(--red);
}
.b1:hover, .b2:hover{
    color: var(--black);
    border: 3px solid #000;
    padding: 5px 8px;
    margin: 7px;
    transition: .2s;
}

.pagination{
    margin-left: 35px;
}

.pagination li{
    display: inline-block;
    margin: 15px 5px;
    width: 30px;
    height: 30px;
    border: 1.5px solid #000;
    border-radius: 10px;
}

.pagination li:hover{
    background-color: rgb(203, 200, 200);
}

.pagination .active{
    background-color: var(--green);

}
#a {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-decoration: none;
    color: var(--black);
}

.pagination .disable{
    display: none;
}

.recherche{
    margin-left: 20px;
    width: 500px;
    height: 30px;
}